{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "string-quotes": "single",
    "max-nesting-depth": 3,
    "scss/at-extend-no-missing-placeholder": null
  }
}